*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    line-height: 2;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

a{
    color: #000;
    text-decoration: none;
}

ul{
    list-style: none;
}

/*NAVIGATION*/

.nav-container{
    display: flex;
    justify-content: space-between;
    font-family: 'League Spartan', sans-serif;
    font-size: 1.2rem;
    padding-right: 2rem;
}

.nav-container img{
    width: 15rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-size: cover;
}

.nav-container ul{
    display: flex;
    margin-top: 1.8rem;
}

.nav-container ul li{
    padding-right: 2rem;
}

.nav-container ul li:hover{
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.nav-container span{
    background-color: #fff;
    font-weight: 500;
    border-radius: 5px;
    margin-top: 1.8rem;
    height: 2.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: background-color 0.3s ease;
    white-space: nowrap;
}

.nav-container span:hover{
    cursor: pointer;
    background-color: lightgray;
}

.nav-container span i{
    padding-right: 1rem;
}

/*HERO*/

.hero{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)
        ),
        url(images/salonheroflip.png);
    color: #fff;
    background-size: cover;
    padding-bottom: 5.5rem;
}

.hero-text{
    padding-top: 4rem;
    padding-left: 5rem;
    font-size: 1.1rem;
}

h1{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.3rem;
    font-family: 'League Spartan', sans-serif;
}

.hero-text p{
    padding-bottom: 1.5rem;
    margin-top: -0.5rem;
}

.hero-text span{
    padding: 1rem;
    background-color: #000;
}

.hero-text span:hover{
    cursor: pointer;
}

.hero-text a{
    color: #fff;
}

.hero-text span i{
    padding-right: 0.5rem;
}

.first-visit{
    margin-left: 5rem;
    margin-top: 2.5rem;
    background-color: #000;
    padding: 1.5rem;
    width: 28rem;
    font-size: 1.1rem;
}

.first-visit span{
    font-size: 1.2rem;
}

.first-visit p{
    margin-bottom: 1rem;
}

.book{
    background-color: #fff;
    color: #000;
    padding: 0.5rem;
    font-weight: bold;
}

.book i{
    padding-right: 0.5rem;
}

/*CARDS*/

.card-container{
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}

.card-container i{
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

.card{
    text-align: center;
    width: 20rem;
    padding: 1rem;
}

.card span{
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.card p{
    font-size: 1.1rem;
}

.icon{
    display: flex;
    flex-direction: column;
}

/*MOMENTUM SECTION*/

.momentum{
    background-color: #F3F4F6;
    display: flex;
    justify-content: space-evenly;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.momentum img{
    width: 40rem;
    background-size: cover;
    padding-right: 3.5rem;
}

.momentum-text{
    width: 40rem;
    text-align: left;
    padding-left: 4.5rem;
}

.momentum-text span{
    background-color: #000;
    color: #fff;
    font-weight: bold;
    padding: 0.5rem;
    font-size: 1.1rem;
}

.momentum-text span a{
    color: #fff;
}

.momentum-text span i{
    padding-right: 0.5rem;
}

.momentum-text p{
    margin-bottom: 1rem;
}

h2{
    font-family: 'League Spartan', sans-serif;
    font-size: 2rem;
    line-height: 2.5rem;
    padding-bottom: 1rem;
}